<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>My Introduction! </title>
        <link rel="stylesheet" href="../css/index.css" type="text/css" />
        <script src="../js/jquery-3.0.0.min.js"></script>
    </head>
    <body>
        <div id="message">
        </div>
        <script>
        $.ajax({
            type    :   "GET",
            url     :    "http://127.0.0.1:8888/api/index",
            // data:data,
            success :   function(html){
                $('#message').html(html);
            }
        });
        </script>
    </body>
</html>
