<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>My Introduction! </title>
    <link rel="stylesheet" href="../css/bootstrap.min.css" type="text/css" />
    <!-- Bootstrap theme -->
    <link href="../css/theme.css" rel="stylesheet">
    <link href="../css/starter-template.css" rel="stylesheet">
    <script src="../js/jquery-3.0.0.min.js"></script>
  </head>
  <body>
      <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Project name</a>
          </div>
          <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </nav>

      <div class="container">

        <div class="starter-template">
          <h1 class="panel panel-default nel-success panel-heading">YTY-Studio</h1>
          <p class="lead panel-info">This is Yang Tongye's studio.<br> Welcome to join us.</p>
        </div>

      <div class="page-header">
        <div class="row">
            <div class="col-sm-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Panel title</h3>
                    </div>
                    <div class="panel-body">
                        Panel content
                    </div>
                </div>

                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title">Panel title</h3>
                    </div>
                    <div class="panel-body">
                        Panel content
                    </div>
                </div>
            </div>
        </div>

        <h1>
          <span class="label label-default">Default</span>
          <span class="label label-primary">Primary</span>
          <span class="label label-success">Success</span>
          <span class="label label-info">Info</span>
          <span class="label label-warning">Warning</span>
          <span class="label label-danger">Danger</span>
        </h1>

      </div><!-- /.container -->
      <details style="margin:40px;">
          <sumary>A Midsummer Night's Dream</summary>
          <p>Duration:1hr 42m</p>
          <p>Showtimes:</p>
          <ul>
              <li>Tuesday,8pm</li>
              <li>Wednesday,8pm</li>
              <li>Thursday,8pm</li>
              <li>Friday,6pm and 8pm</li>
          <ul>
      </detail>


      <!-- Bootstrap core JavaScript
      ================================================== -->
      <!-- Placed at the end of the document so the pages load faster -->
      <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script> -->
      <script src="../css/bootstrap.min.js"></script>
      <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
      <!-- <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script> -->

  </body>
</html>
